body{
    padding: 0;
    margin: 0;
}

h2{
    padding: 10px 30px;
}

h3{
    padding-left: 20px;
}

.container{
    margin-top: 40px;
}

.card{
    margin-left:auto;
    margin-right: auto;
}

.alert{
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}